body {
    width: 80%;
    display: block;
    font-family: arial;
    color: white;
    width: 100%;
    max-width: 50%;
}

.account-login {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 40px;
}

.registration {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 40px;
}



#main-headline {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid aquamarine; 
    text-align: center;
    position: relative;
    margin-top: 40px;

} 